body {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Outfit", sans-serif;
  font-size: 15px;
  background-color: hsl(212, 45%, 89%);
}
.main {
  width: 400px;
  text-align: center;
  margin-top: 3em;
  margin-left: 1em;
  margin-right: 1em;
  margin-bottom: 3em;
  background-color: hsl(0, 0%, 100%);
  padding: 1.2em;
  border-radius: 20px;
}

#qr-code {
  width: 100%;
  border-radius: 15px;
}

.headline {
  font-weight: 700;
  font-size: 1.5rem;
  color: hsl(218, 44%, 22%);
  margin-top: 15px;
  margin-bottom: 15px;
}

.text {
  font-weight: 400;
  font-size: 1.1rem;
  color: hsl(220, 15%, 55%);
  margin-top: 0px;
}

.attribution {
  font-size: 0.8rem;
}

@media all and (min-width: 500px) {
  .headline {
    font-size: 2rem;
  }
  .text {
    font-size: 1.5rem;
  }
  .attribution {
    font-size: 1.1rem;
  }
  .main {
    margin-top: 5em;
    margin-bottom: 5em;
  }
}
